extends layout
block append styles
  link(rel='stylesheet', href='/stylesheets/thermometre.css')
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(src='/scripts/thermometre.js')
block content
  h1= title
  p Welcome to #{title}
  h2 Data monitoring :
  h3 Temperature :
  include includes/thermometre.pug
  

